---
layout: default
title: 404
---
{% include JB/setup %}

<div class="box">
	<div class="cell">
		<h1>404</h1>
	</div>
	<div class="inner">
		<div class="content topic_content">404你见过么！！！</div>
	</div>
</div>	

<div class="sep20"></div>
<div class="box">
	<div class="cell"><div class="fr fade">?  <a href="#_top" class="dark">Top</a></div>
	<span class="fade">Add a Reply Now</span>
	</div>
	<div class="inner">
		{% include JB/comments %}
	</div>
	<div class="inner"><div class="fr" style="font-size: 12px; margin-left: 20px;"><a href="/">← Home</a></div>? Please avoid posting pointless replies, it's always great to save everyone's precious time.</div>
</div>