        <div class="box">
            <div class="cell">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td width="73" valign="top" align="center"><img src="/assets/themes/babel/img/avatar73.png" border="0" align="default" auto=""><div class="sep10"></div></td>
                        <td width="10"></td>
                        <td width="auto" valign="top" align="left">
                            <div class="fr"></div>
                            <h1 style="margin-bottom: 5px;">acmuuu</h1>
                            <span class="bigger gray">生命可以浪费在美好的事物之上 – I LIKE IT</span>
                            <div class="sep5"></div>
                            <span class="fade"> </span>
                            <div class="sep10"></div>
                        </td>
                    </tr>
                </tbody></table>
                <div class="sep5"></div>
            </div>
            
            <div class="cell">
                <div class="sep5"></div>
                <img src="/assets/themes/babel/img/twitter.png" align="absmiddle">&nbsp;<a href="https://twitter.com/acmuuu" target="_blank">acmuuu</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/weibo.png" align="absmiddle">&nbsp;<a href="http://weibo.com/acmuuu" target="_blank">聂风_</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/mobileme.png" align="absmiddle">&nbsp;<a href="http://acmuuu.com" target="_blank">http://sar4.com</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/location.png" align="absmiddle">&nbsp;<a href="http://www.google.com/maps?q=Shanghai,China" target="_blank">Shanghai,China</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/dribbble.png" align="absmiddle">&nbsp;<a href="http://dribbble.com/acmuuu" target="_blank">acmuuu</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/github.png" align="absmiddle">&nbsp;<a href="http://github.com/acmuuu" target="_blank">acmuuu</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/linkedin.png" align="absmiddle">&nbsp;<a href="http://linkedin.com/in/acmuuu" target="_blank">acmuuu</a><div class="sep5"></div>
                <img src="/assets/themes/babel/img/btc.png" align="absmiddle">&nbsp;<a href="http://blockexplorer.com/address/2MZ93YLeCcU7PjPH4VLfkn1K88bg7ywU4J" target="_blank">2MZ93YLeCcU7PjPH4VLfkn1K88bg7ywU4J</a><div class="sep5"></div>
            </div>
            
            <div class="inner">
                这个世界就像一个游戏,而我总感觉自己还没入门。<br><br>强悍的人生不需要草稿，亦不需要笔记。<br><br>才德全尽谓之圣人，才德兼亡谓之愚人，德胜才谓之君子，才胜德谓之小人。<br><br>They came first for the socialists and I did not speak out because I was not a socialist. <br><br>Then they came for the trade unionists and I did not speak out because I was not a trade unionist.<br> <br>Then they came for the Jews and I did not speak out because I was not a Jew. <br><br>Then they came for the Catholics,and I didn’t speak up because I was a Protestant. <br><br>Then they came for me and there was no one left to speak for me.<br><br>by Martin Niemoller, 1945<br><br>子非鱼，安知鱼之乐。<br><br>“你不要喊口号吧，口号是没有用的，如果你不调整自己的生活，不改变自己的理念，不珍惜你已有的自由，不为你安身的社会担负起当有的一份使命，那么你便闭嘴好了。”<br><br>
            </div>
            
        </div>
        
        <div class="sep20"></div>
        <div class="box">
            <div class="cell"><div class="fr fade"><a href="#_top" class="dark"><strong>↑</strong> Top</a></div>
            <span class="fade">Add a Reply Now</span>
            </div>
            <div class="inner">
                {% include JB/comments %}
            </div>
            <div class="inner"><div class="fr" style="font-size: 12px; margin-left: 20px;"><a href="/">← Home</a></div>➥ Please avoid posting pointless replies, it's always great to save everyone's precious time.</div>
        </div>
